@charset "ISO-8859-1";
 header {
            background-color: #B3CBE4;
            color: white;
            text-align: center;
            padding: 4px 16px;
        }

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

form {
	
    display: inline-block; /* Display forms as inline-block */
    margin: 20px 10px 40px 20px; /* Add some margin between forms */
}

input[type="text"] {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
table {
  width: 98.5%;
  border-collapse: collapse; /* This removes default table spacing */
  align-items: center;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
}

th {
  background-color: #f2f2f2;
}

/* Styling even rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styling odd rows */
tr:nth-child(odd) {
  background-color: #ffffff;
}
button[type="submit"] {
	padding: 8px 16px;
	border-radius: 5px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}